<div class="container" *ngIf="!isValidate">
  <br>
  <input type="password" class="form-control" placeholder="Type security code" [(ngModel)]="passwordValue">
  <br>
  <button (click)="validateLogin()" class="btn btn-success">Login</button>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isValidate">
  <a class="navbar-brand" href="#"> &nbsp;Magic Moment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/reports-sale">Reports sale</a>
          <a class="dropdown-item" routerLink="/reports-purchase">Reports Purchase</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sale">Sale</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Purchase
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/purchase-item">Purchase Items</a>
          <a class="dropdown-item" routerLink="/purchase-raw-materials">Purchase Raw materials</a>
          <a class="dropdown-item" routerLink="/purchase-machine">Purchase Machineries</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Master Entry
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/master-item">Purchase Item master entry</a>
          <a class="dropdown-item" routerLink="/master-raw-material">Purchase Raw materials master entry</a>
          <a class="dropdown-item" routerLink="/master-machine">Purchase Machineries master entry</a>
          <a class="dropdown-item" routerLink="/master-size">Size types master entry</a>
          <a class="dropdown-item" routerLink="/master-color">Color types master entry</a>
          <a class="dropdown-item" routerLink="/master-material">Material types master entry</a>
          <a class="dropdown-item" routerLink="/master-gst">GST types master entry</a>
          <a class="dropdown-item" routerLink="/master-hsn">HSN types master entry</a>
          <a class="dropdown-item" routerLink="/master-supplier">Supplier master entry</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div style="padding: 10px;" *ngIf="isValidate">
  <router-outlet></router-outlet>
</div>